/* src/auth/Login.css */
  html, body {
    height: auto; /* Remove the fixed height on mobile */
    width: auto;
  }


.login-container {
    max-width: 400px;
    width: 40%;
    padding: 10px;
    margin-top: 130px;
    margin-left: 260px;
    position: relative;
  }
  
  h2 {
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    width: 80%;
    padding: 10px;
    background-color: #f1aef8;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }

  .register-button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .register-button:hover {
    background-color:lightpink;
  }

  .login-page {
    position:absolute;
    align-items: center;
    /*background-image: url(/public/images/background-app.jpeg);
    background-size: cover;*/
    background:transparent;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    
  }
  
  /* Style for the images */
  .baby-image {
    position: relative;
    height: 30%;
    width: 20%;
    margin-right: 5%;

  }

  .alpes-image {
    position: relative;
    height: 10%;
    width: 20%;

  }

  .lofoten {
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the viewport */
    z-index: -1; /* Place the video behind other content */
  }

  .title-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Shadow effect */
    padding: 20px; /* Padding inside the box */
    text-align: center; /* Center-align text */
    position:relative;
    bottom:80%;
    width: 600px;
    right: 140px;
    /*background-image: url(/public/images/background-snow1.jpeg);*/
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5%;
  }
  
  .title-box h2 {
    font-size: 25px; 
    font-weight: bold;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #77bfe6, #f698c8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .title-box h1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #77bfe6, #f698c8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .explanation-box{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Shadow effect */
    padding: 20px; /* Padding inside the box */
    text-align: center; /* Center-align text */
    position:relative;
    width: 800px;
    bottom:120%;
    top:50%;
    right:240px;
  }

  .explanation-box h1{
    font-size: 19px;
    background-image: linear-gradient(to right, #0aa1f2, #ec60a9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .explanation-box p {
    font-size: 17px;
    background-image: linear-gradient(to right, #0aa1f2, #ec60a9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .explanation-box ul {
    font-size: 15px;
    background-image: linear-gradient(to right, #0aa1f2, #ec60a9);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  