/* src/components/Section3.css */
.section3 {
  background-color: #FFB6C1;
  background-image: url(/public/images/background-section3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/*.section3 input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #f00707;
  border-radius: 4px;
  margin-top: 5px;
}*/

.section3 button {
  padding: 10px 20px;
  background-color: #a3dcf6; /* Light pink color */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.section3 button:hover {
  background-color: #6b96f3; /* Darker pink color on hover */
}

.section3-table {
  position: relative;
  width: 10%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  margin-left: 70%;
  margin-right: 60%;
  margin-top: 20px;
}

/* Style table headers */
th {
  background-color: #ea91c0;
  text-align: left;
  padding: 12px; /* Increase padding for headers for better spacing */
  border: 2px solid #ffffff;
}

/* Style table data cells */
td {
  text-align: left;
  padding: 12px; /* Increase padding for cells for better spacing */
  border: 1px solid #ffffff;
  word-wrap: break-word; /* Allow text to wrap within cells */
  max-width: none; /* Remove the maximum width for cells */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) for text overflow */
}

/* Edit pop */

.edit-popup {
  position: fixed;
  top: 20%;
  left:25%;
  right: 0;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(92,148, 239), rgb(248,177,219))
}

.edit-popup h3 {
  text-align:center;
  position:absolute;
  top: 10%;
  margin: 0;
  padding: 10px;
  background: linear-gradient(to left, rgb(92, 148, 239), rgb(248, 177, 219));

  font-size: 24px; /* Increase font size */
  font-weight: bold; /* Make it bold */
  color: #ffffff;
}

.edit-containers {
  display: flex;
  flex-direction:row;
  margin-bottom: 5%;
  margin-top: 5%;
  align-items: center;
}

.edit-containers label {
  margin-right: 10px; /* Add a small gap between label and input */
}

.edit-containers input,
.edit-containers select {
  padding: 5px; /* Adjust padding for inputs/selects */
  border: 1px solid #ccc; /* Add borders to inputs/selects */
  border-radius: 4px; /* Add rounded corners to inputs/selects */
}


.update-cancel {
  text-align: center; /* Center the buttons horizontally */
  position: absolute;
  bottom: 5%; /* Position the container at the bottom *
  width: 100%; /* Make it span the full width */
  padding: 10px; /* Add padding to space it from the content */ /* Add background color or styles as needed */
}

.update-cancel button {
  margin: 0 10px; /* Add margin to space the buttons apart */
  background-color: #d3dde0;
  color:#000
}

.update-cancel button:hover{
  background-color: #ffffff;
}

.error-message{
  color: #000;
  top: 85%;
}

.button-container {
  /* Style for the button container section */
  text-align: center;
}

.button-containers button {
  /* Style for buttons */
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-containers button:hover {
  /* Style for button hover state */
  background-color: #0056b3;
}

.edit-title {
  text-align: center;
  color:white
}




  