/* src/components/Section1.css */

.section1 {
  background-color: #FFB6C1;
  background-image: url(/public/images/background-section1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  font-weight: bold;           
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section1 input[type="text"] {
  padding: 10px;
  width: 150%;
  border: 1px solid #a1adea;
  border-radius: 4px;
  margin-top: 5px;
}

.section1 h1 {
  font-size: 20px;
}

.section1 p {
  line-height: 1px;
}

  
